{
  "GSSICB_{{ data_type }}_{{ polarization }}_{{ season_code }}_Scaled": {
    "name": "GSSICB_Median_{{ interval }}_day_{{ polarization }}_Coherence_{{ months_abbreviated_underscore }}_Scaled",
    "definition": "Global {{ season }} ({{ months_full }}) median {{ interval }}-day interferometric coherence ({{ data_type }}) in {{ polarization }} polarization from the Global Seasonal Sentinel-1 Interferometric Coherence and Backscatter Data Set. The source rasters have been scaled to an integer (values ranging from 0 to 100) by multiplying the coherence values by 100.",
    "units": "DN",
    "units_name": "Coherence*100",
    "units_html": "Coherence*100",
    "units_min": 0,
    "units_max": 100,
    "units_digits": 0,
    "data_type": "8bit_integer"
  },
  "GSSICB_{{ data_type }}_{{ polarization }}_{{ season_code }}_Unscaled": {
    "name": "GSSICB_Median_{{ interval }}_day_{{ polarization }}_Coherence_{{ months_abbreviated_underscore }}_Unscaled",
    "definition": "Global {{ season }} ({{ months_full }}) median {{ interval }}-day interferometric coherence ({{ data_type }}) in {{ polarization }} polarization from the Global Seasonal Sentinel-1 Interferometric Coherence and Backscatter Data Set. The default raster function template for this image service converts the scaled source raster values to the normal range of coherence values (0 to 1) by dividing the pixel values of the source rasters by 100.",
    "units": "DN",
    "units_name": "Coherence",
    "units_html": "Coherence",
    "units_min": 0,
    "units_max": 1,
    "units_digits": 2,
    "data_type": "8bit_integer"
  }
}